# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log

# Uploads
uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# Sample files
samples/